{% extends "../../base_ajax.html" %}
{% block body %}
    <div class="container-fluid banner">
        <div class="row">
            <div class="col-md-12">Banner</div>
        </div>
        <div class="row">
            <div class="col-md-6">Video</div>
            <div class="col-md-6">Ir a la tienda</div>
        </div>
        <div class="row">
            <div class="col-md-12">Nuevo</div>
        </div>
        <div class="row">
            <div class="col-md-6">Instagram</div>
            <div class="col-md-6">Historia</div>
        </div>
        <div class="row">
            <div class="col-md-4">Menu</div>
            <div class="col-md-4">Registro</div>
            <div class="col-md-4">Mayorista</div>
        </div>
    </div>
{% end %}