
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Index - API Documentation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- styles -->
        <link href="http://stilearning.com/items/preview/elegant-api-doc-stilearn/css/bootstrap.css" rel="stylesheet">
        <link href="http://stilearning.com/items/preview/elegant-api-doc-stilearn/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="http://stilearning.com/items/preview/elegant-api-doc-stilearn/css/bootstrap-doc.css" rel="stylesheet">


        <!-- favicon -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="ico/favicon.png">


        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
        <![endif]-->
        
    </head>

    <body>
        <header>
            <!--navbar -->
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="index.html">Documentation</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                <li class="active"><a href="index.html">Index</a></li>
                                <li><a href="tree.html">Tree</a></li>
                                <li><a href="help.html">Help</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div><!--/.navbar -->
        </header>
        
        
        <article class="container">
            <div class="row-fluid">
                <div class="span3">
                    <!--sidebar -->
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="content.html"><i class="icon-chevron-right pull-right"></i> Get Started</a></li>
                        <li><a href="#"><i class="icon-chevron-right pull-right"></i> App Components</a></li>
                        <li><a href="#"><i class="icon-chevron-right pull-right"></i> User Interfaces</a></li>
                        <li><a href="#"><i class="icon-chevron-right pull-right"></i> Form Elements</a></li>
                        <li><a href="#"><i class="icon-chevron-right pull-right"></i> Animation</a></li>
                        <li><a href="#"><i class="icon-chevron-right pull-right"></i> Graphic</a></li>
                        <li><a href="#"><i class="icon-chevron-right pull-right"></i> Example</a></li>
                        <li><a href="#"><i class="icon-chevron-right pull-right"></i> Something else</a></li>
                    </ul><!--/.sidebar -->
                </div><!--/.span3 -->

                <div class="span9">
                    <div class="doc-content-box">

                        <div class="page-header">
                            <h2>API de Producto</h2>
                        </div>
                        <p>provee acceso a los productos, se pueden crear editar y agregar</p>

                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th colspan="2">Changelog</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="class-summary">
                                    <td>
                                        <p class="class-desc">Lorem ipsum dolor sit amet, arcu libero molestie justo sit egestas, ut augue suspendisse massa, nec libero, pede magna eget.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="detail-box">
                            <div class="page-header">
                                <a title="jump to class summary" href="#class-summary" class="scroll pull-right">
                                    <span class="label label-info"><i class="icon-white icon-arrow-up"></i></span> 
                                </a>
                                <h3 id="class-desc">/product/add</h3>
                            </div>

                            <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th colspan="2">Parámetros</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="class-summary">
                                    <td>
                                        <p class="class-scope">sku</p>
                                    </td>
                                    <td>
                                        <a href="#class-desc" class="scroll class-name">Class_Name</a> 
                                        <p class="class-desc">Lorem ipsum dolor sit amet, arcu libero molestie justo sit egestas, ut augue suspendisse massa, nec libero, pede magna eget.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        
                        <!-- doc-index-block -->
                        <div class="doc-index-block">
                            <h2 id="A">/product/add</h2>
                            
                            <div class="index-item">
                                <div class="index-header">
                                    <a href="#">abort()</a>
                                </div>
                                <div class="index-desc">
                                    <p>method in class <a href="#">Abort</a></p>
                                </div>
                            </div><!-- /index-item -->
                            
                            <div class="index-item">
                                <div class="index-header">
                                    <a href="#">add()</a>
                                </div>
                                <div class="index-desc">
                                    <p>action method in class <a href="#">Users</a></p>
                                </div>
                            </div><!-- /index-item -->
                            
                            <div class="index-item">
                                <div class="index-header">
                                    <a href="#">affix_status</a>
                                </div>
                                <div class="index-desc">
                                    <p>property in class <a href="#">URI</a></p>
                                </div>
                            </div><!-- /index-item -->
                            
                            <div class="index-item">
                                <div class="index-header">
                                    <a href="#">annotation()</a>
                                </div>
                                <div class="index-desc">
                                    <p>Lorem ipsum dolor sit amet, arcu libero molestie justo sit egestas, ut augue suspendisse massa, nec libero, pede magna <a href="#">eget</a></p>
                                </div>
                            </div><!-- /index-item -->
                            
                            <div class="index-item">
                                <div class="index-header">
                                    <a href="#">annotationValue()</a>
                                </div>
                                <div class="index-desc">
                                    <p>Lorem ipsum dolor sit amet, arcu libero molestie justo sit egestas, ut augue suspendisse massa, nec libero, pede magna <a href="#">eget</a></p>
                                </div>
                            </div><!-- /index-item -->
                        </div><!-- /doc-index-block -->
                        
                        <!-- doc-index-block -->
                        <div class="doc-index-block">
                            <h2 id="B">B</h2>
                            
                            <div class="index-item">
                                <div class="index-header">
                                    <a href="#">basicBorder()</a>
                                </div>
                                <div class="index-desc">
                                    <p>Lorem ipsum dolor sit amet, arcu libero molestie justo sit egestas, ut augue suspendisse massa, nec libero, pede magna <a href="#">eget</a></p>
                                </div>
                            </div><!-- /index-item -->
                            
                            <div class="index-item">
                                <div class="index-header">
                                    <a href="#">button()</a>
                                </div>
                                <div class="index-desc">
                                    <p>Lorem ipsum dolor sit amet, arcu libero molestie justo sit egestas, ut augue suspendisse massa, nec libero, pede magna <a href="#">eget</a></p>
                                </div>
                            </div><!-- /index-item -->
                        </div><!-- /doc-index-block -->
                        
                        <!-- doc-index-block -->
                        <div class="doc-index-block">
                            <h2 id="C">C</h2>
                            
                            <div class="index-item">
                                <div class="index-header">
                                    <a href="#">console()</a>
                                </div>
                                <div class="index-desc">
                                    <p>Lorem ipsum dolor sit amet, arcu libero molestie justo sit egestas, ut augue suspendisse massa, nec libero, pede magna <a href="#">eget</a></p>
                                </div>
                            </div><!-- /index-item -->
                            
                            <div class="index-item">
                                <div class="index-header">
                                    <a href="#">button()</a>
                                </div>
                                <div class="index-desc">
                                    <p>Lorem ipsum dolor sit amet, arcu libero molestie justo sit egestas, ut augue suspendisse massa, nec libero, pede magna <a href="#">eget</a></p>
                                </div>
                            </div><!-- /index-item -->
                        </div><!-- /doc-index-block -->
                        
                        <div class="shadow-right"> </div><!-- shadow doc-content-box -->
                    </div><!--/.doc-content-box -->
                </div><!--/.span9 -->
            </div><!--/.row-fluid -->
        </article><!-- /container -->
        

        <!-- footer -->
        <footer>
            <div class="footer">
                <div class="container">
                    <p>Copyright &copy; 2013. All rights reserved.</p>
                </div>
            </div>
        </footer><!--/.footer -->

        
        <!-- javascript
        ================================================== -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($){
        
                $(".scroll").click(function(event){
                    event.preventDefault();
                    $("html,body").animate({scrollTop: $(this.hash).offset().top-50}, 'slow');
                });

            });

        </script>
    </body>
</html>
