<!--sidebar -->
<ul class="nav nav-tabs nav-stacked">
    <li><a href="/doc/product"><i class="icon-chevron-right pull-right"></i>Productos</a></li>
    <li><a href="/doc/cellar"><i class="icon-chevron-right pull-right"></i>Bodegas</a></li>
    <li><a href="/doc/brand"><i class="icon-chevron-right pull-right"></i>Marcas</a></li>
    <li><a href="/doc/category"><i class="icon-chevron-right pull-right"></i>Categorías</a></li>
    <li><a href="/doc/salesman"><i class="icon-chevron-right pull-right"></i>Vendedores</a></li>
</ul><!--/.sidebar -->