{% extends "../base.html" %}

{% block title %}Lista de Clientes {% end %}
{% block body %}
<div class="col-md-12">
    <section class="widget">
        <div class="body">
            <table class="table table-striped table-images">
                <thead>
                    <tr>
                        <th class="action">
                            <select data-placeholder="Acciones"
                            data-minimum-results-for-search="10"
                            tabindex="-1"
                            class="chzn-select select-block-level" id="default-select">
                                <option value=""></option>
                                <option value="1">Aceptado</option>
                                <option value="2">Pendiente</option>
                                <!-- <option value="3">Eliminar</option> -->
                            </select>
                        </th>
                        <th>
                            <button type="button" id="aplicar" class="btn btn-primary">Aplicar</button>
                        </th>
                        <th class="state-filter text-right">
                            <span class="label label-primary state-filter">TODOS</span>
                            <span class="label label-warning state-filter">ACEPTADO</span>
                            <span class="label label-important state-filter">PENDIENTE</span>
                            <span class="label label-info state-filter">PERSONA</span>
                            <span class="label label-success state-filter">EMPRESA</span>
                        </th>
                    </tr>
                </thead>
            </table>
            <table id="clientes" class="table table-striped table-images">
                <thead>
                    <tr>
                        <th></th>
                        <th>estado</th>
                        <th>nombre</th>
                        <th>email</th>
                        <th>rut</th>
                        <th>tipo</th>
                        <th>giro</th>
                        <th>fecha registro</th>
                        <!-- <th>primera visita</th> -->
                        <th>&Uacute;ltima visita</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </section>
</div>

{% end %}