<link href="/{{nocache_static}}/css/application.min.css" rel="stylesheet">
<link href="/{{nocache_static}}/css/bodega.css" rel="stylesheet">
<script src="/{{nocache_static}}/lib/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/{{nocache_static}}/js/contact_list.js"></script>

<body class="background-dark" >
	<div class="row top50">
		<div class="col-md-10 col-md-offset-1">
			<section class="widget" id="detalle-pedido">
				<div class="body">
					<table class="table table-striped table-images">
						<thead>
							<tr>
								<th>ID Cliente</th>
								<th>Direcci&oacute;n</th>
								<th>Comuna / Regi&oacute;n</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for c in contactos %}
							<tr>
								<td>
									{{c['user_id']}}
								</td>
								<td>
									{{c['address']}}
								</td>
								<td>
									{{c['town']}}
								</td>
								<td>
									<a href="/customer/edit_contact?id={{c['id']}}" class="btn btn-primary">Editar</a>
								</td>
							</tr>
							{% end %}
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>
</body>
