#perm.form-control{
  overflow:visible; 
  height: auto;
  min-height: 30px;
}

.btn-perm{
  display:none;
}

.lptooltip
{
	position: absolute;
	border: rgba(51,51,51,0.4) solid 1px;
	background: rgba(51,51,51,0.4);
	display: none;
	padding: 10px;
}

.alert-success
{
	display: none;
	z-index: 100;
}