th{
	text-transform: capitalize;
}
#perm.form-control{
  overflow:visible; 
  height: auto;
  min-height: 30px;
}

.btn-perm,.btn-cellars{
  display:none;
}

.lptooltip
{
	position: absolute;
	border: rgba(51,51,51,0.4) solid 1px;
	background: rgba(51,51,51,0.8);
	display: none;
	padding: 10px;
	margin-left: -8px;
	margin-top: 9px;
}

.alert-success
{
	display: none;
	z-index: 100;
}

.alert-success-nohidden
{
	display: block;
	z-index: 100;
}

.pointer
{
	width: 15px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: -17px;
	left: 73px;
}

.pointer img
{
	height: 10px;
	opacity: 0.4;
	cursor: pointer;
}

.btn-perm-bot, .btn-perm, .btn-cellars-bot, .btn-cellars
{
	cursor: pointer;
}

.image-list li
{
	display: block;
	float: left;
}

.image-list img
{
	max-width: 60px;
	max-height: 60px;
}

.image-list input
{
	display: none;
}

.close-image-list
{
	margin-left: -20px;
}

.table-report{
	 margin-top: 30px;
}

.table th.for_sale, .table td.for_sale{
	line-height: 59px;
}
a.for_sale{
	vertical-align: middle;
	color: #666;
	cursor: pointer;
}
i.disabled{
	opacity: 0.3;
}
/*iframe.wysihtml5-sandbox{
	max-height: 200px !important;
}*/
#wysihtml5-textarea{
    height: 300px;
}
#fastedit-textarea{
    height: 100px !important;
}
tr.special_row > td{
	padding: 0 !important;
}
tr.special_row > td > div{
	padding-top: 30px;
}
.select2-results {
	max-height: 100px;
}
.no-sort::after { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }
span.state-filter {cursor: pointer;}
th.state-filter {vertical-align: middle !important;}
.dataTables_processing { padding: 14px 0 34px 0; }