body {
    background: url('../img/background-2.png') no-repeat center center fixed !important;
    background-size: 100% !important;
}
th{
    text-transform: capitalize;
}
nav#sidebar {
    position: fixed !important;
}
#perm.form-control{
  overflow:visible; 
  height: auto;
  min-height: 30px;
}

.btn-perm,.btn-cellars{
  display:none;
}

.lptooltip
{
    position: absolute;
    border: rgba(51,51,51,0.4) solid 1px;
    background: rgba(51,51,51,0.8);
    display: none;
    padding: 10px;
    margin-left: -8px;
    margin-top: 9px;
}

.alert-success
{
    display: none;
    z-index: 100;
}

.alert-success-nohidden
{
    display: block;
    z-index: 100;
}

.pointer
{
    width: 15px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -17px;
    left: 73px;
}

.pointer img
{
    height: 10px;
    opacity: 0.4;
    cursor: pointer;
}

.btn-perm-bot, .btn-perm, .btn-cellars-bot, .btn-cellars
{
    cursor: pointer;
}

.image-list li
{
    display: inline-block;
    margin: 3%;
    text-align: left;
    width: 25%;
}

.image-list img
{
    border: 1px solid black;
    max-height: 100%;
    max-width: 100%;
    padding: 5px;
}

.image-list input
{
    display: none;
}

.close-image-list
{
    margin-left: -20px;
}

.table-report{
     margin-top: 30px;
}

.table th.for_sale, .table td.for_sale{
    line-height: 59px;
}
a.for_sale{
    vertical-align: middle;
    color: #666;
    cursor: pointer;
}
i.disabled{
    opacity: 0.3;
}
/*iframe.wysihtml5-sandbox{
    max-height: 200px !important;
}*/
#wysihtml5-textarea{
    height: 300px;
}
#fastedit-textarea{
    height: 100px !important;
}
tr.special_row > td{
    padding: 0 !important;
}
tr.special_row > td > div{
    padding-top: 30px;
}
.select2-results {
    max-height: 100px;
}
.no-sort::after { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }
span.state-filter {cursor: pointer;}
th.state-filter {vertical-align: middle !important;}
.dataTables_processing { padding: 14px 0 34px 0; }
#iframe_detalle .modal-dialog{
    height: 90%;
    width: 90%;
}
#iframe_detalle .modal-content{
    width: 100%;
    height: 100%;
}
section#detalle_pedido th, section#detalle_pedido td{
    font-size: 13px;
}
.btn-back {
    float: right;
    margin-bottom: 15px;
}

.dataTables_wrapper .dataTables_processing {
    border: none !important;
    height: 95px !important;
}

.loader-wrap {
    text-align: center;
    position: fixed;
    top: 30%;
    width: 100%;
}

.loader-wrap > span {
    font-size: 25px;
    color: white;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

.banner > .col-md-3 > .row > div {
    border: 1px solid #666;
    background-color: white;
    height: 200px;
}

.banner > .row {
    margin: 5px;
}

.banner .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.banner .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.secciones > div {
    text-align: center;
}

.secciones {
    height: 250px !important;
}

.banner > div {
    margin-right: 10px;
}

.imgup * {
    text-align: center !important;
}

.imgup>ul>li {
    float: none !important;
    display: inline-block !important;
    background: url('/static/img/plus.png') no-repeat center center;
}