{% extends "../base.html" %}
{% block body %}
<form action="/banner" method="post" target="_blank">
    <div class="container-fluid banner">
        <div class="col-md-8">
            <div class="row title">
                <div class="col-md-10 ">
                    <p>Administrador de gr&aacute;ficas</p>
                    <p>Suba las imagenes a cada secci&oacute;n, haga preview de cada secci&oacute;n antes de guardar</p>
                </div>
                <div class="col-md-2 text-center">
                    <button type="submit" class="btn btn-info save">Guardar</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h4>Banner</h4>
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <h5>Banner 1</h5>
                            <div class="row">
                                <input type="file" class="upload" name="banner1" src="{{banner('banner1').thumbnail}}" valor='{"image":"{{banner("banner1").image}}", "thumb_200": "{{banner("banner1").thumbnail}}"}'/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h5>Banner 2</h5>
                            <div class="row">
                                <input type="file" class="upload" name="banner2" src="{{banner('banner2').thumbnail}}" valor='{"image":"{{banner("banner2").image}}", "thumb_200": "{{banner("banner2").thumbnail}}"}'/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h5>Banner 3</h5>
                            <div class="row">
                                <input type="file" class="upload" name="banner3" src="{{banner('banner3').thumbnail}}" valor='{"image":"{{banner("banner3").image}}", "thumb_200": "{{banner("banner3").thumbnail}}"}'/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row special-row">
                <div class="col-md-6">
                    <h5>Video</h5>
                </div>
                <div class="col-md-6">
                    <h5>Ir a la tienda</h5>
                    <div class="row">
                        <input type="file" class="upload" name="tienda-caluga" src="{{banner('caluga_ir_tienda').thumbnail}}" valor='{"image":"{{banner("caluga_ir_tienda").image}}", "thumb_200": "{{banner("caluga_ir_tienda").thumbnail}}"}'/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5>Nuevo</h5>
                    <div class="row">
                        <input type="file" class="upload" name="nuevo-caluga" src="{{banner('caluga_nuevo').thumbnail}}" valor='{"image":"{{banner("caluga_nuevo").image}}", "thumb_200": "{{banner("caluga_nuevo").thumbnail}}"}'/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Instagram</h5>
                    <div class="row">
                        <input type="file" class="upload" name="instagram" src="{{banner('instagram').thumbnail}}" valor='{"image":"{{banner("instagram").image}}", "thumb_200": "{{banner("instagram").thumbnail}}"}'/>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5>Historia</h5>
                    <div class="row">
                        <input type="file" class="upload" name="historia" src="{{banner('historia').thumbnail}}" valor='{"image":"{{banner("historia").image}}", "thumb_200": "{{banner("historia").thumbnail}}"}'/>
                    </div>
                </div>
            </div>
            <div class="row special-row">
                <div class="col-md-4 special-col">
                    <h5>Menu</h5>
                </div>
                <div class="col-md-4">
                    <h5>Background Registro</h5>
                    <div class="row">
                        <input type="file" class="upload" name="background_registro" src="{{banner('background_registro').thumbnail}}" valor='{"image":"{{banner("background_registro").image}}", "thumb_200": "{{banner("background_registro").thumbnail}}"}'/>
                    </div>
                    <h5>Registro</h5>
                    <div class="row">
                        <input type="file" class="upload" name="registro" src="{{banner('registro').thumbnail}}" valor='{"image":"{{banner("registro").image}}", "thumb_200": "{{banner("registro").thumbnail}}"}'/>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Background Mayorista</h5>
                    <div class="row">
                        <input type="file" class="upload" name="background_mayorista" src="{{banner('background_mayorista').thumbnail}}" valor='{"image":"{{banner("background_mayorista").image}}", "thumb_200": "{{banner("background_mayorista").thumbnail}}"}'/>
                    </div>
                    <h5>Mayorista</h5>
                    <div class="row">
                        <input type="file" class="upload" name="mayorista" src="{{banner('mayorista').thumbnail}}" valor='{"image":"{{banner("mayorista").image}}", "thumb_200": "{{banner("mayorista").thumbnail}}"}'/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="button" id="preview-home" class="btn btn-info" url-local="{{url_local}}">Vista Previa</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 secciones">
                    <h4>Secciones</h4>
                    <div class="col-md-4">
                        <h5>Nuevo</h5>
                        <div class="row">
                            <input type="file" class="upload" name="nuevo" src="{{banner('nuevo').thumbnail}}" valor='{"image":"{{banner("nuevo").image}}", "thumb_200": "{{banner("nuevo").thumbnail}}"}'/>
                        </div>
                        <div class="row text-center">
                            <button type="button" id="preview-section" class="btn btn-info" tag="nuevo" url-local="{{url_local}}">Vista Previa</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>Sale</h5>
                        <div class="row">
                            <input type="file" class="upload" name="sale" src="{{banner('sale').thumbnail}}" valor='{"image":"{{banner("sale").image}}", "thumb_200": "{{banner("sale").thumbnail}}"}'/>
                        </div>
                        <div class="row text-center">
                            <button type="button" id="preview-section" class="btn btn-info" tag="sale" url-local="{{url_local}}">Vista Previa</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>Tienda</h5>
                        <div class="row">
                            <input type="file" class="upload" name="tienda" src="{{banner('tienda').thumbnail}}" valor='{"image":"{{banner("tienda").image}}", "thumb_200": "{{banner("tienda").thumbnail}}"}'/>
                        </div>
                        <div class="row text-center">
                            <button type="button" id="preview-section" class="btn btn-info" tag="tienda" url-local="{{url_local}}">Vista Previa</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 secciones">
                    <h5>Background Header</h5>
                    <input type="file" class="upload" name="background_header" src="{{banner('background_header').thumbnail or ''}}" valor='{"image":"{{banner("background_header").image}}", "thumb_200": "{{banner("background_header").thumbnail}}"}'/>
                    <h5>Background Footer Izq</h5>
                    <input type="file" class="upload" name="background_footer_izq" src="{{banner('background_footer_izq').thumbnail or ''}}" valor='{"image":"{{banner("background_footer_izq").image}}", "thumb_200": "{{banner("background_footer_izq").thumbnail}}"}'/>
                    <h5>Background Footer Der</h5>
                    <input type="file" class="upload" name="background_footer_der" src="{{banner('background_footer_der').thumbnail or ''}}" valor='{"image":"{{banner("background_footer_der").image}}", "thumb_200": "{{banner("background_footer_der").thumbnail}}"}'/>
                </div>
                <div class="col-md-12 text-center">
                    <button type="button" id="preview-background" url-local="{{url_local}}" class="btn btn-info">Vista Previa</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% end %}