{% extends "../base.html" %}

{% block title %}Agregar Producto {% end %}
{% block caption %}permite agregar un producto{% end %}


{% block body %}

<div class="col-md-7">
	<section class="widget">
		<div class="body">
			<form action="/product/add" class="form-horizontal label-left" method="post" enctype="multipart/form-data">
				<fieldset>
					<legend class="section">Agregar Producto</legend>
					<div class="control-group">
						<label class="control-label" for="prefix">Nombre</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Nombre" name="name" required="required" type="text" class="form-control" value="{{ product.name }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Precio</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Precio" name="price" required="required" type="text" class="form-control" value="{{ product.price }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Descripción</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Descripcion" name="description" required="required" type="text" class="form-control" value="{{ product.description }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Cantidad</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Cantidad" name="quantity" required="required" type="text" class="form-control" value="{{ product.quantity }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Marca</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Marca" name="brand" required="required" type="text" class="form-control" value="{{ product.brand }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">SKU</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="sku" name="sku" required="required" type="text" class="form-control" value="{{ product.sku }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Categoría</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Categoria" name="category" required="required" type="text" class="form-control" value="{{ product.category }}"></div>
						</div>
					</div>
				</fieldset>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Validar y agregar</button>
					<button type="button" class="btn btn-default">Cancelar</button>
				</div>
				{% raw xsrf_form_html() %}
			</form>
		</div>
	</section>
</div>

{% end %}