{% extends "../base.html" %}

{% block title %}Agregar Producto {% end %}
{% block caption %}permite agregar un producto{% end %}


{% block body %}

<div class="col-md-7">
	<section class="widget">
		<div class="body">
			<form action="/product/add" class="form-horizontal label-left" method="post" enctype="multipart/form-data">
				<fieldset>
					<legend class="section">Agregar Producto</legend>
					<div class="control-group">
						<label class="control-label" for="prefix">Categoría</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Categoria" name="category" type="text" class="form-control" value="{{ product.category }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">SKU</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="sku" name="sku" required="required" type="text" class="form-control" value="{{ product.sku }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Artículo</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Artículo" name="upc" type="text" class="form-control" value="{{ product.upc }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Nombre</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Nombre" name="name" required="required" type="text" class="form-control" value="{{ product.name }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Descripción</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Descripcion" name="description" type="text" class="form-control" value="{{ product.description }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Tallas</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Escriba las tallas separadas por coma (,)" name="size" required="required" type="text" class="form-control" value="{{ ",".join(product.size) }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Precio de compra</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Precio de compra" name="price" type="text" class="form-control" value="{{ product.price }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Proveedor</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="proveedor" name="manufacturer"  type="text" class="form-control" value="{{ product.manufacturer }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Marca</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Marca" name="brand" type="text" class="form-control" value="{{ product.brand }}"></div>
						</div>
					</div>

					<!--- bodega???? -->
					<div class="control-group">
						<label class="control-label" for="prefix">Cantidad</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="cantidad" name="quantity"  type="numeric" class="form-control" value="0"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Bodega</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="bodega" name="cellar"  type="text" class="form-control" value=""></div>
						</div>
					</div>

					<!--- fin bodega -->
					<div class="control-group">
						<label class="control-label" for="prefix">Imagen</label>
						<div class="controls form-group">
							<div class="col-sm-8">
								<ul class="image-list">
									<li>
										<button type="button" image-name="{{ product.image }}" class="close close-image-list" data-dismiss="image-item" aria-hidden="true">×</button>
										<img  src="/image/{{ product.image }}?mw=60"  />
										<input type="file" name="image" class="image-item-fille" />
									</li>
									<li>
										<button type="button" image-name="{{ product.image_2 }}" class="close close-image-list" data-dismiss="image-item" aria-hidden="true">×</button>
										<img  src="/image/{{ product.image_2 }}?mw=60" />
										<input type="file" name="image-1" class="image-item-fille" />
									</li>
									<li>
										<button type="button" image-name="{{ product.image_3 }}" class="close close-image-list" data-dismiss="image-item" aria-hidden="true">×</button>
										<img  src="/image/{{ product.image_3 }}?mw=60" />
										<input type="file" name="image-2" class="image-item-fille" />
									</li>
								</ul>
<!-- 								<form enctype="multipart/form-data" action="" method="post">
									<div class="form-actions fileupload-buttonbar no-margin" action="/" method="post" enctype="multipart/form-data"> -->

										<!--
										<span class="btn btn-sm btn-default fileinput-button">
											<i class="fa fa-plus"></i>
											<span>Cargar Imagen...</span>
											<input type="file" name="image" multiple="">
										</span>
										-->
<!-- 										<button type="submit" class="btn btn-primary btn-sm start">
											<i class="fa fa-upload"></i>
											<span>Subir Archivo</span>
										</button>
									</div>
									{% raw xsrf_form_html() %}
								</form> -->


							<!-- <input placeholder="Imagen" name="image" type="text" class="form-control" value="{{ product.image }}"> -->
							</div>
						</div>
					</div>


					<!--
					<div class="control-group">
						<label class="control-label" for="prefix">Color</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Color" name="color" required="required" type="text" class="form-control" value="{{ product.color }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Material</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Material" name="material" type="text" class="form-control" value="{{ product.material }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Viñeta 1</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Viñeta 1" name="bullet_1" type="text" class="form-control" value="{{ product.bullet_1 }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Viñeta 2</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Viñeta 2" name="bullet_2" type="text" class="form-control" value="{{ product.bullet_2 }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Viñeta 3</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Viñeta 3" name="bullet_3" type="text" class="form-control" value="{{ product.bullet_3 }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Moneda</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Moneda" name="currency" type="text" class="form-control" value="{{ product.currency }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Imagen 2</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Imagen 2" name="image_2" type="text" class="form-control" value="{{ product.image_2 }}"></div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prefix">Imagen 3</label>
						<div class="controls form-group">
							<div class="col-sm-8"><input placeholder="Imagen 3" name="image_3" type="text" class="form-control" value="{{ product.image_3 }}"></div>
						</div>
					</div>
					-->
				</fieldset>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Validar y agregar</button>
					<button type="button" class="btn btn-default">Cancelar</button>
				</div>
				{% raw xsrf_form_html() %}
			</form>
		</div>
	</section>
</div>

<script type="text/javascript">
	$(document).ready(function()
		{
			// load image from client
			$(".image-item-fille").on("change", function(ev)
			{
				var f = ev.target.files[0];
				var fr = new FileReader();
				var img = $( "img", $(this).parent());

				fr.onload = function(ev2)
				{
					console.dir(ev2);
					img.attr("src", ev2.target.result);

				};

				fr.readAsDataURL(f);
			});

			// click input from image
			$(".image-list img").click(function()
			{
				$("input", $(this).parent()).click();
			});

			// remove an image
			$(".close-image-list").click(function()
			{
				var image_name = $(this).attr("image-name");
				var element = $(this);
				var img_display = $("img", element.parent());
				var file = $("input", element.parent());

				$.get("/imageremove?image_name=" + image_name)
				.done(function(data)
					{
						img_display.attr("src", "/image/"+ image_name +"?mw=60");
						file.val("");
					});
			});
		});
</script>

{% end %}