{% extends "../base.html" %}

{% block title %}Listado de productos {% end %}
{% block caption %}blah blah{% end %}

{% block body %}
<div class="col-md-12">
	<section class="widget">
		<div class="body">
			<table class="table table-striped table-images">
				<thead>
					<tr>
						<th>#</th>
						<th class="hidden-xs " >sku</th>
						<th class="" >Nombre</th>
						<th class="" >UPC/EAN</th>
						<th class="" >Description</th>
						<th class="hidden-xs " >Marca</th>
						<th class="hidden-xs">Fabricante</th>
						<th class="hidden-xs">Talla</th>
						<th class="hidden-xs">Color</th>
						<th class="hidden-xs">Material</th>
						<th class="hidden-xs">Viñeta 1</th>
						<th class="hidden-xs">Viñeta 2</th>
						<th class="hidden-xs">Viñeta 3</th>
						<th class="hidden-xs " >Moneda</th>
						<th class="hidden-xs-portrait ">Precio</th>						
						<th class="hidden-xs " >Cantidad</th>
						
						
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for p in product_list %}
					<tr>
						<td>
							<input type="checkbox" />
						</td>
						<td class="hidden-xs-portrait">{{ p["sku"] }}</td>
						<td class="hidden-xs-portrait">{{ p["name"] }}</td> 
						<td><!--UPC/EAN --></td>
						<td class="hidden-xs-portrait">{{ p["description"] }}</td>
						<td>{{ p["brand"] }}</td>
						<td><!--Fabricante --></td>
						<td><!--Talla --></td>	
						<td><!--Color --></td>	
						<td><!--Material --></td>
						<td><!--Viñeta 1 --></td>	
						<td><!--Viñeta 2 --></td>	
						<td><!--Viñeta 3 --></td>
						<td class="hidden-xs"></td>		
						<td></td>
						<td class="hidden-xs"></td>						
						<td>
							<a class="btn btn-sm btn-primary" href="/product/edit?id={{ p["_id"] }}">
								Editar
							</a>
							<a class="btn btn-sm btn-danger" href="/product/remove?id={{ p["_id"] }}" >
								Eliminar
							</a>
						</td>
					</tr>
					{% end %}
				</tbody>
			</table>
		</div>
	</section>
</div>

{% end %}