{% extends "../base.html" %}

{% block title %}Listado de productos {% end %}
{% block caption %}
    se muestra una lista general de todos los productos
{% end %}
{% block css %}
    <link href="/{{nocache_static}}/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/{{nocache_static}}/css/dataTables.tableTools.min.css" rel="stylesheet">
    <link href="/{{nocache_static}}/css/fastedit.css" rel="stylesheet">
{% end %}

{% block body %}
    {% if int(2) in current_user["permissions"] %}
        {% if dn == "bpf" %}
        <div class="alert alert-warning alert-success-nohidden">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong><i class="fa fa-check"></i> Problema al eliminar producto!</strong> aún quedan productos en bodega.
        </div>
        {% elif dn == "bpt" %}
        <div class="alert alert-success alert-success-nohidden">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong><i class="fa fa-check"></i> Bien hecho!</strong> se ha eliminado producto.
        </div>
        {% elif dn == "bpe" %}
        <div class="alert alert-success alert-success-nohidden">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong><i class="fa fa-check"></i> Error!</strong> {{message}}
        </div>
        {% end %}
        <input type="hidden" id="hidden_search">
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- <div class="modal-header">
                        <h4 class="modal-title">Edici&oacute;n R&aacute;pida</h4>
                    </div> -->
                    <div class="modal-body">
                        <form action="/product/fastedit" id="fastedit" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <fieldset>
                                <legend>Edici&oacute;n R&aacute;pida</legend>
                                <input type="hidden" name="id" class="form-control" value="">
                                <input type="hidden" name="sku" class="form-control" value="">
                                <div class="control-group">
                                    <label class="control-label">Categor&iacute;a</label>
                                    <div class="controls form-group">
                                        <div class="col-sm-7">
                                            <input class="form-control" type="text" name="category" value="" placeholder="Categor&iacute;a">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="control-group">
                                    <label class="control-label">SKU</label>
                                    <div class="controls form-group">
                                        <div class="col-sm-7">
                                            <input class="form-control" type="text" name="sku" value="" placeholder="SKU">
                                        </div>
                                    </div>
                                </div> -->
                                <div class="control-group">
                                    <label class="control-label">Nombre</label>
                                    <div class="controls form-group">
                                        <div class="col-sm-7">
                                            <input class="form-control" type="text" name="name" value="" placeholder="Nombre">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Descripci&oacute;n</label>
                                    <div class="controls form-group">
                                        <div class="col-sm-7">
                                            <!-- <input type="text" class="form-control" name="description" placeholder="Descripci&oacute;n" value=""> -->
                                            <textarea id="fastedit-textarea" placeholder="Descripci&oacute;n" name="description" class="form-control" autofocus></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Color</label>
                                    <div class="controls form-group">
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" name="color" placeholder="Combinaci&oacute;n" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Precio Venta</label>
                                    <div class="controls form-group">
                                        <div class="col-sm-7">
                                            <input class="form-control" type="text" name="sell_price" value="" placeholder="Precio Venta">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Precio Promoci&oacute;n</label>
                                    <div class="controls form-group">
                                        <div class="col-sm-7">
                                            <input class="form-control" type="text" name="promotion_price" value="" placeholder="Precio Promoción">
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Precio Por Mayor (neto)</label>
                                    <div class="controls form-group">
                                        <div class="col-sm-7">
                                            <input class="form-control" type="text" name="bulk_price" value="" placeholder="Precio Promoción">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Precio Compra</label>
                                    <div class="controls form-group">
                                        <div class="col-sm-7">
                                            <input class="form-control" type="text" name="price" value="" placeholder="Precio Compra">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Posici&oacute;n</label>
                                    <div class="controls form-group">
                                        <div class="col-sm-7">
                                            <input class="form-control" type="text" name="position" value="" placeholder="Posici&oacute;n">
                                        </div>
                                    </div>
                                </div>

                                {% raw xsrf_form_html() %}
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="return FastEdit('#fastedit')">Guardar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="col-md-12">
            <section class="widget">
                <div class="body">
                    <table id="productos" class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Imagen</th>
                                <th class="hidden-xs " >SKU</th>
                                <th class="" >Nombre</th>
                                <th class="hidden-xs">Tallas</th>
                                <th class="hidden-xs">Precio Compra</th>
                                <th class="hidden-xs">Precio Venta</th>
                                <th class="hidden-xs-portrait ">Precio Promoci&oacute;n</th>
                                <th class="hidden-xs-portrait ">Precio Mayorista</th>
                                <th>Posici&oacute;n</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    {% else %}
        <div class="col-md-12">
            <section class="widget">
                <div class="body">
                    <div class="alert alert-danger">Secci&oacute;n No Autorizada</div>
                </div>
            </section>
        </div>
    {% end %}
{% end %}