{% extends "../../base_ajax.html" %}

{% block title %}Bodega "{{ cellar.name }}" {% end %}
{% block caption %}Se muestra una lista de los productos disponibles en la bodega{% end %}
{% block css %}
    <link href="/{{nocache_static}}/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/{{nocache_static}}/css/dataTables.tableTools.min.css" rel="stylesheet">
{% end %}

{% block body %}
<div class="col-md-12">
	<section class="widget">
		<div class="body">
			<div class="row">
				<div class="col-md-10 text-left">
					
					<select name="quantity-filter">
						<option value="<">Menor</option>
						<option value="<=">Menor o igual</option>
						<option value="=">Igual</option>
						<option value=">=">Mayor o igual</option>
						<option value=">">Mayor</option>
					</select>
					<span>&nbsp;que&nbsp;</span>
					<input type="text" id="quantity-filter">
					<button class="btn btn-primary" id="buttonSearch">Buscar</button>
				</div>
				<div class="col-md-2 text-right">
					<a type="button" href="/cellar" class="btn btn-success btn-sm btn-delete">Volver</a>
				</div>
			</div>
			<input type="hidden" id="cellar_id" name="cellar_id" value="{{cellar.id}}">
			<div class="top25">
				<table id="cellar_detail" class="table table-striped">
					<thead>
						<tr>
							<th>SKU</th>
							<th>Nombre</th>
							<th>Talla</th>
							<th>Color</th>
							<th>Saldo (unidades)</th>
							<th>Saldo ($)</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</section>
</div>
{% end %}