{% extends "../../base_ajax.html" %}

{% block title %}Bodega "{{ cellar.name }}" {% end %}
{% block caption %}Se muestra una lista de los productos disponibles en la bodega{% end %}
{% block css %}
    <link href="/{{nocache_static}}/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/{{nocache_static}}/css/dataTables.tableTools.min.css" rel="stylesheet">
{% end %}

{% block body %}
<div class="col-md-12">
	<section class="widget">
		<div class="body">
			<div class="row">
				<div class="col-md-10 col-md-offset-2 text-right">
					
					<button class="btn btn-sm btn-primary quantity-filter" sign="<">Menor</button>
					<button class="btn btn-sm btn-primary quantity-filter" sign="<=">Menor o igual</button>
					<button class="btn btn-sm btn-primary quantity-filter" sign="=">Igual</button>
					<button class="btn btn-sm btn-primary quantity-filter" sign=">=">Mayor o igual</button>
					<button class="btn btn-sm btn-primary quantity-filter" sign=">">Mayor</button>
					<span>que</span>
					<input type="text" id="quantity-filter">
					<a type="button" href="/cellar" class="btn btn-success btn-sm btn-delete">Volver</a>
				</div>
			</div>
			<input type="hidden" id="cellar_id" name="cellar_id" value="{{cellar.id}}">
			<div class="top25">
				<table id="cellar_detail" class="table table-striped">
					<thead>
						<tr>
							<th>SKU</th>
							<th>Nombre</th>
							<th>Talla</th>
							<th>Color</th>
							<th>Saldo (unidades)</th>
							<th>Saldo ($)</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</section>
</div>
{% end %}