<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% end %}</title>
		<link href="/{{nocache_static}}/css/application.min.css" rel="stylesheet">
        {% block css %}{% end %}
        <link href="/{{nocache_static}}/css/jquery.dataTables.min.css" rel="stylesheet">
    	<link href="/{{nocache_static}}/css/dataTables.tableTools.min.css" rel="stylesheet">
		<link href="/{{nocache_static}}/css/bodega.css" rel="stylesheet">
		<link href="/{{nocache_static}}/css/lp.autocomplete.css" rel="stylesheet">
		<link href="/{{nocache_static}}/bower_components/file_uploader/dist/fileuploader.css" rel="stylesheet">

		<link rel="shortcut icon" href="img/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta charset="utf-8">

		<!-- jquery and friends -->
		<script src="/{{nocache_static}}/lib/jquery/jquery-2.0.3.min.js"></script>

		<!-- jquery plugins -->
		<script src="/{{nocache_static}}/lib/icheck.js/jquery.icheck.js"></script>
		<script src="/{{nocache_static}}/lib/sparkline/jquery.sparkline.js"></script>
		<script src="/{{nocache_static}}/lib/jquery-ui-1.10.3.custom.js"></script>
		<script src="/{{nocache_static}}/lib/jquery.slimscroll.js"></script>

		<script src="/{{nocache_static}}/lib/jquery-maskedinput/jquery.maskedinput.js"></script>
		<script src="/{{nocache_static}}/lib/parsley/parsley.js"> </script>
		<script src="/{{nocache_static}}/lib/select2.js"></script>
		<script src="/{{nocache_static}}/lib/jquery.autogrow-textarea.js"></script>


		<!-- d3, nvd3-->
		<script src="/{{nocache_static}}/lib/nvd3/lib/d3.v2.js"></script>
		<script src="/{{nocache_static}}/lib/nvd3/nv.d3.custom.js"></script>

		<!-- nvd3 models -->
		<script src="/{{nocache_static}}/lib/nvd3/src/models/scatter.js"></script>
		<script src="/{{nocache_static}}/lib/nvd3/src/models/axis.js"></script>
		<script src="/{{nocache_static}}/lib/nvd3/src/models/legend.js"></script>
		<script src="/{{nocache_static}}/lib/nvd3/src/models/multiBar.js"></script>
		<script src="/{{nocache_static}}/lib/nvd3/src/models/multiBarChart.js"></script>
		<script src="/{{nocache_static}}/lib/nvd3/src/models/line.js"></script>
		<script src="/{{nocache_static}}/lib/nvd3/src/models/lineChart.js"></script>
		<script src="/{{nocache_static}}/lib/nvd3/stream_layers.js"></script>

		<!--backbone and friends -->
		<script src="/{{nocache_static}}/lib/backbone/underscore-min.js"></script>
		<script src="/{{nocache_static}}/lib/backbone/backbone-min.js"></script>
		<script src="/{{nocache_static}}/lib/backbone/backbone.localStorage-min.js"></script>

		<!-- bootstrap default plugins -->
		<script src="/{{nocache_static}}/lib/bootstrap/transition.js"></script>
		<script src="/{{nocache_static}}/lib/bootstrap/collapse.js"></script>
		<script src="/{{nocache_static}}/lib/bootstrap/alert.js"></script>
		<script src="/{{nocache_static}}/lib/bootstrap/tooltip.js"></script>
		<script src="/{{nocache_static}}/lib/bootstrap/popover.js"></script>
		<script src="/{{nocache_static}}/lib/bootstrap/button.js"></script>
		<script src="/{{nocache_static}}/lib/bootstrap/tab.js"> </script>
		<script src="/{{nocache_static}}/lib/bootstrap/dropdown.js"></script>
		<script src="/{{nocache_static}}/lib/bootstrap/modal.js"></script>

		<script src="/{{nocache_static}}/lib/bootstrap-select/bootstrap-select.js"></script>
		<script src="/{{nocache_static}}/lib/bootstrap-switch.js"></script>

		<script src="/{{nocache_static}}/lib/bootstrap-datepicker.js"></script>
		<script src="/{{nocache_static}}/lib/bootstrap-select/bootstrap-select.js"></script>
		<script src="/{{nocache_static}}/lib/wysihtml5/wysihtml5-0.3.0_rc2.js"></script>
		<script src="/{{nocache_static}}/lib/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
		<script src="/{{nocache_static}}/lib/bootstrap-switch.js"></script>
		<script src="/{{nocache_static}}/lib/bootstrap-colorpicker.js"></script>


		<!-- basic application js-->
		<script src="/{{nocache_static}}/js/app.js"></script>
		<script src="/{{nocache_static}}/js/settings.js"></script>
		<script src="/{{nocache_static}}/js/lp-checkbox.js"></script>

		<script type="text/javascript" src="/{{nocache_static}}/js/lp.autocomplete.js"></script>
		<script src="/{{nocache_static}}/bower_components/jquery-pjax/jquery.pjax.js"></script>
		<script src="/{{nocache_static}}/js/pjax_nav.js"></script>
		<script type="text/javascript" src="/{{nocache_static}}/js/bodegas.js"></script>

		<!-- page specific -->
		<script type="text/javascript" src="/{{nocache_static}}/js/forms-elemets.js"></script>
		<script type="text/javascript" src="/{{nocache_static}}/js/lp.js" charset="utf-8"></script>
		<script type="text/javascript" src="/{{nocache_static}}/js/jquery.dataTables.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/{{nocache_static}}/js/dataTables.tableTools.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/{{nocache_static}}/js/product_list.js" charset="utf-8"></script>
		<script type="text/javascript" src="/{{nocache_static}}/js/customer_list.js"></script>
		<script type="text/javascript" src="/{{nocache_static}}/js/order_list.js"></script>
		<script type="text/javascript" src="/{{nocache_static}}/js/cellar/detail.js"></script>
		<script src="/{{nocache_static}}/js/multiple_upload.js"></script>
		<script type="text/javascript" src="/{{nocache_static}}/js/easy.js"></script>
		<script type="text/javascript" src="/{{nocache_static}}/bower_components/file_uploader/dist/fileuploader.min.js"></script>
		<script type="text/javascript" src="/{{nocache_static}}/js/banner.js"></script>
		{% block javascript %}{% end %}

		<!-- <script src="/{{nocache_static}}/js/index.js"></script> -->
		<!-- <script src="/{{nocache_static}}/js/chat.js"></script> -->
	</head>
	<body>
		<div class="logo">
			<h4><a href="/">Giani da firenze <strong>Bodegas</strong></a></h4>
		</div>
		<nav id="sidebar" class="sidebar nav-collapse collapse">
			<ul id="side-nav" class="side-nav">
				{% set cnt = 0 %}
				{% for m in side_menu %}
					<li class="{{ m['class'] }}">
						{% if "sub_menu" in m %}
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#side-nav" href="#forms-collapse_{{ cnt }}"><i class="fa fa-{{ m['icon'] }}"></i> <span class="name">{{ m['name'] }}</span></a>
						{% else %}
						<a href="{{ m['link'] }}" data-target="{{ m['link'] }}" ><i class="fa fa-{{ m['icon'] }}"></i> <span class="name">{{ m['name'] }}</span></a>
						{% end %}
						{% if "sub_menu" in m %}
							{% if "active" in m['class'] %}
							<ul id="forms-collapse_{{ cnt }}" class="panel-collapse open in" style="height: auto;">
							{% else %}
							<ul id="forms-collapse_{{ cnt }}" class="panel-collapse collapse" style="height: 0px;">
							{% end %}
						{% for sm in m["sub_menu"] %}
							<li class="{{ sm['class'] }}"><a href="{{ sm['link'] }}" data-target="{{ sm['link'] }}">{{ sm['name'] }}</a></li>
						{% end %}
						</ul>
						{% end %}
					</li>
					{% set cnt = cnt + 1 %}
				{% end %}
			</ul>
		</nav>
		<div class="wrap">
			<header class="page-header">
				<div class="navbar">
					<ul class="nav navbar-nav navbar-right pull-right">
						<li class="hidden-xs"><a href="/auth/login"><i class="fa fa-sign-out"></i></a></li>
					</ul>
					<!--<form action="/product/search" id="search-form" class="navbar-form pull-right" role="search">
						<input type="text" name="q" class="search-query" placeholder="búsqueda de productos">
						<input type="submit" class="btn btn-sm btn-primary" value="Buscar">
					</form>-->
				</div>
			</header>
			<div class="content container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="page-title">{% block title %}{% end %}<small>{% block caption %}{% end %}</small></h2>
					</div>
				</div>
				<div class="row">
					{% block body %}
					{% end %}
				</div>
			</div>
		</div>
		<div class="loader-wrap">
			<span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
		</div>
	</body>
</html>