{% extends "../base.html" %}
{% block title %}
    {% if mode == "edit" %}
        Editar Detalle Pedido 
    {% elif mode == "add" %}
        Agregar Detalle Pedido
    {% end %}
{% end %}
{% block caption %}
    {% if "cargar productos nuevos" in ",".join(current_user.permissions) %}
        {% if mode == "edit" %}
            permite editar un detalle para un pedido
        {% elif mode == "add" %}
            permite agregar un detalle para un pedido
        {% end %}
    {% else %}
        sección no autorizada
    {% end %}
{% end %}           
{% block body %}
    {% if "cargar productos nuevos" in ",".join(current_user.permissions) %}
        {% if dn == "bpf" %}
        <div class="alert alert-warning alert-success-nohidden">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong><i class="fa fa-check"></i> Problema al agregar productos!</strong> SKU ya existe.
        </div>
        {% end %}
        <div class="col-md-7">
            <section class="widget">
                <div class="body">
                    <form action="/order/save" class="form-horizontal label-left" method="post" enctype="multipart/form-data">
                        <fieldset>
                            {% if mode == "edit" %}
                                <legend class="section">Editar Detalle Pedido</legend>
                            {% elif mode == "add"  %}
                                <legend class="section">Agregar Detalle Pedido</legend>
                            {% end %}
                            <!-- <div class="control-group">
                                <label class="control-label" for="prefix">Id</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="id" name="id" type="text" class="form-control" value="{{order.id}}"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Fecha</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="date" name="date" type="text" class="form-control" value="{{order.date}}"></div>
                                </div>
                            </div> -->
                            <div class="control-group">
                                <label class="control-label" for="prefix">Vendedor</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="salesman" name="salesman" type="text" class="form-control" value="{{order.salesman}}"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Cliente</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="customer" name="customer" type="text" class="form-control" value="{{order.customer}}"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Subtotal</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="subtotal" name="subtotal" type="text" class="form-control" value="{{order.subtotal}}"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Descuento</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="discount" name="discount" type="text" class="form-control" value="{{order.discount}}"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Impuestos</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="tax" name="tax" type="text" class="form-control" value="{{order.tax}}"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Total</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="total" name="total" type="text" class="form-control" value="{{order.total}}"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Direcci&oacute;n</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="address" name="address" type="text" class="form-control" value="{{order.address}}"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Comuna</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="town" name="town" type="text" class="form-control" value="{{order.town}}"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Ciudad</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="city" name="city" type="text" class="form-control" value="{{order.city}}"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Origen</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="source" name="source" type="text" class="form-control" value="{{order.source}}"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Pa&iacute;s</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="country" name="country" type="text" class="form-control" value="{{order.country}}"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Cantidad items</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="items_quantity" name="items_quantity" type="text" class="form-control" value="{{order.items_quantity}}"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Cantidad productos</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="product_quantity" name="product_quantity" type="text" class="form-control" value="{{order.product_quantity}}"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="prefix">Estado</label>
                                <div class="controls form-group">
                                    <div class="col-sm-8"><input placeholder="state" name="state" type="text" class="form-control" value="{{order.state}}"></div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-actions">
                        {% if mode == "edit" %}
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        {% elif mode == "add"  %}
                            <button type="submit" class="btn btn-primary">Validar y agregar</button>
                        {% end %}
                            <button type="reset" class="btn btn-default">Cancelar</button>
                        </div>
                        {% raw xsrf_form_html() %}
                    </form>
                </div>
            </section>
        </div>
    {% else %}
        <div class="col-md-12">
            <section class="widget">
                <div style="float:right;">
                </div>
            </section>
        </div>
    {% end %}
{% end %}