{% extends "../base.html" %}

{% block title %}Detalle Pedido {% end %}
{% block caption %}{% end %}

{% block body %}

{% if dn != "" %}
<div class="alert alert-warning alert-success-nohidden">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong><i class="fa fa-check"></i>{{dn}}</strong>
</div>
{% end %}

<div class="col-md-12">
	<section class="widget">
		<div class="body">
			<div class="col-md-11">
				<h3>Pedido N&deg; {{order.id}}</h3>
			</div>
			<div class="col-md-1">
				<p>
					<a href="/order/list" class="btn btn-primary">Volver</a>
				</p>
			</div>
			<table class="table table-bordered">
				<thead>
					<th>Cliente</th>
					<th>Direcci&oacute;n</th>
					<th>Comuna</th>
					<th>Ciudad</th>
					<th>Pa&iacute;s</th>
				</thead>
				<tbody>
					<td>{{order.customer}}</td>
					<td>{{order.address}}</td>
					<td>{{order.town}}</td>
					<td>{{order.city}}</td>
					<td>{{order.country}}</td>
				</tbody>
			</table>
			<table class="table table-striped table-images">
				<thead>
					<tr>
						<th>Producto</th>
						<th>Cantidad</th>
						<th class="text-align-right">Total</th>
					</tr>
				</thead>
				<tbody>
					{% for o in order_detail %}
					<tr>
						<td>
							{{o["name"]}}
						</td>
						<td>
							{{o["quantity"]}}
						</td>
						<td class="text-align-right">
							{{o["subtotal"]}}
						</td>
					</tr>
					{% end %}
					<tr>
						<td></td>
						<td class="text-align-right">Subtotal</td>
						<td class="text-align-right">{{order.subtotal}}</td>
					</tr>
					<tr>
						<td></td>
						<td class="text-align-right">Impuesto</td>
						<td class="text-align-right">{{order.tax}}</td>
					</tr>
					<tr>
						<td></td>
						<td class="text-align-right">Total</td>
						<td class="text-align-right">{{order.total}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</div>

{% end %}