{% extends "../base.html" %}

{% block title %}Agregar {% end %}
{% block caption %}
	{% if int(5) in current_user["permissions"] %}
	agrega un nuevo usuario
	{% else %}
	sección no autorizada
	{% end %}
{% end %}

{% block body %}

{% if dn == "t" %}
<div class="alert alert-success alert-success-nohidden">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong><i class="fa fa-check"></i> Bien hecho!</strong> Usuario agregado correctamente.
</div>
{% end %}
{% if warnings != "" %}
	{% for w in warnings.split(",") %}
	<div class="alert alert-warning alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<strong><i class="fa fa-check"></i> Error!</strong> {{w}}
	</div>
	{% end %}
{% end %}

{% if int(5) in current_user["permissions"] %}
<div class="col-md-7">
	<section class="widget">
		<form action="/user/add" class="form-horizontal label-left" method="post" id="user-form" enctype="multipart/form-data">
			<fieldset>
				<legend class="section">Agregar usuario</legend>
				<div class="control-group">
					<label for="" class="control-label">Nombre</label>
					<div class="controls form-group">
						<div class="col-sm-8"><input placeholder="Nombre" name="name" required="required" type="text" class="form-control" value="{{ user.name }}"></div>
					</div>
				</div>
				<div class="control-group">
					<label for="" class="control-label">Apellido</label>
					<div class="controls form-group">
						<div class="col-sm-8"><input placeholder="Apellido" name="surname" required="required" type="text" class="form-control" value="{{ user.surname }}"></div>
					</div>
				</div>
				<div class="control-group">
					<label for="" class="control-label">Email</label>
					<div class="controls form-group">
						<div class="col-sm-8"><input id="email" placeholder="ejemplo@gianidafirenze.cl" name="email" required="required" type="email" class="form-control" value="{{ user.email }}"></div>
					</div>
				</div>
				<div class="control-group">
					<label for="" class="control-label">Contraseña</label>
					<div class="controls form-group">
						<div class="col-sm-8"><input id="pass_1" placeholder="contraseña" name="password" required="required" type="password" class="form-control" onchange="form.re_password.pattern = this.value;" value="{{user.password}}"></div>
					</div>
				</div>
				<div class="control-group">
					<label for="" class="control-label">Repita contraseña</label>
					<div class="controls form-group">
						<div class="col-sm-8"><input id="pass_2" placeholder="contraseña" name="re_password"  type="password" class="form-control"  value="{{user.password}}" required></div>
					</div>
				</div>
				<style type="text/css">
  					.objMovible { position:absolute; cursor:pointer }
				</style>
				<div class="control-group">
					<label for="" class="control-label">Permisos</label>

					<input type="hidden" name="permissions" >
					<div class="controls form-group">
						<div class="col-sm-8">
							<div id="perm" class="form-control" >
								{% set permiso = ["acceso a api","cargar productos nuevos","vender","modificar bodegas","administrar usuarios","ver informes"] %}
								{% for i in range(0,len(permiso)) %} 
									<a id="perm_top{{ i + 1 }}" class="btn-sm btn-primary btn-perm" onclick="removeElement({{ i + 1 }})">{{ permiso[i] }}</a>
								{% end %}
							</div>
							<div id="perm_bot">
								{% for i in range(0,len(permiso)) %} 
									<a id="perm_{{ i + 1 }}" class="btn-sm btn-primary btn-perm-bot" onclick="addElement({{ i + 1 }})">{{ permiso[i] }}</a>
								{% end %}
							</div>
						</div>
					</div>
				</div>

				<div class="control-group">
					<label for="" class="control-label">Bodegas</label>

					<input type="hidden" name="cellars" >
					<div class="controls form-group">
						<div class="col-sm-8">
							<div id="cellars" name="cellars" type="" class="form-control" >
								{% for c in cellars %}
									<a id="cellars_top{{ c['id'] }}" class="btn-sm btn-primary btn-cellars" onclick="removeElementCellars({{ c['id'] }})">{{ c["name"] }}</a>
								{% end %}
							</div>
							<div id="cellars_bot">
								{% for c in cellars %}
									<a id="cellars_{{ c['id'] }}" class="btn-sm btn-primary btn-cellars-bot" onclick="addElementCellars({{ c['id'] }})">{{ c["name"] }}</a>
								{% end %}
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<input type="hidden" name="id" value="{{ user.identifier }}">
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Validar y agregar</button>
				<button type="reset" class="btn btn-default">Limpiar</button>
			</div>
			{% raw xsrf_form_html() %}
		</form>
	</section>
</div>

<script type="text/javascript">

$(document).ready(function(){

	function exist_permission( permission )
	{
		$(".btn-perm").each(function(){
			if ($(this).attr("id") == "perm_top" + permission ) {
				$(this).css("display", "inline");
			};
		});

		$(".btn-perm-bot").each(function(){
			if ($(this).attr("id") == "perm_" + permission) {
				$(this).css("display", "none");
			}
		});
	}

	// loading user current permissions
	var current_permissions = {% if user.permissions == "" %}{}{% else %}{{ user.permissions }}{% end %};

	for (var i = 0; i <= current_permissions.length - 1; i++) {
		console.log(current_permissions[i]);

		exist_permission(current_permissions[i]);
	};

	function exist_cellar( permission )
	{
		$(".btn-cellars").each(function(){
			if ($(this).attr("id") == "cellars_top" + permission ) {
				$(this).css("display", "inline");
			};
		});

		$(".btn-cellars-bot").each(function(){
			if ($(this).attr("id") == "cellars_" + permission) {
				$(this).css("display", "none");
			}
		});
	}

	
	var current_cellars = {{user.cellars }};

	for (var i = 0; i <= current_cellars.length - 1; i++) {
		console.log(current_cellars[i]);

		exist_cellar(current_cellars[i]);
	};


	// ssetting permissions logic for form
	$("#user-form").submit(function(){

		// setting vars
		var hidden_permissions = $("input[name=permissions]");
		var is_first = true;


		// clear
		hidden_permissions.val("");

		$(".btn-perm").each(function(){

			if ($(this).css("display") != "none") 
			{
				// refill separated by comma
				if (is_first){
					hidden_permissions.val( hidden_permissions.val() + $(this).html() );
					is_first = false;
				}
				else{
					hidden_permissions.val( hidden_permissions.val() + "," + $(this).html() );
				}

			}
			console.log($(this).css("display"));
		});	

		// setting vars
		var hidden_cellars = $("input[name=cellars]");
		is_first = true;


		// clear
		hidden_cellars.val("");

		$(".btn-cellars").each(function(){

			if ($(this).css("display") != "none") 
			{
				// refill separated by comma
				if (is_first){
					hidden_cellars.val( hidden_cellars.val() + $(this).html() );
					is_first = false;
				}
				else{
					hidden_cellars.val( hidden_cellars.val() + "," + $(this).html() );
				}

			}
			console.log($(this).css("display"));
		});	

		var p1 = document.getElementById("pass_1").value;
		var p2 = document.getElementById("pass_2").value;

		var espacios = false;
		var cont = 0;

		while (!espacios && (cont < p1.length)) {
			if (p1.charAt(cont) == " ")
				espacios = true;
			cont++;
		}

		if (espacios) {
			alert ("La contraseña no puede contener espacios en blanco");
			return false;
		}

		if (p1.length == 0 || p2.length == 0) {
		  alert("Los campos de la password no pueden quedar vacios");
		  return false;
		}

		return true;
	});

	var intputElements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < intputElements.length; i++) {
        intputElements[i].oninvalid = function (e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                if (e.target.name == "re_password") {
                    e.target.setCustomValidity("La contraseña ingresada no coincide con la anterior");
                }
            }
        };
    }
$('#pass_1').keyup(function(){
        var _this = $('#pass_1');
        var pass_1 = $('#pass_1').val();
                _this.attr('style', 'background:white');
        if(pass_1.charAt(0) == ' '){
            _this.attr('style', 'background:#FF4A4A');
        }
 
        if(_this.val() == ''){
            _this.attr('style', 'background:#FF4A4A');
        }
    });
 
 $('#pass_2').keyup(function(){
        var pass_1 = $('#pass_1').val();
        var pass_2 = $('#pass_2').val();
        var _this = $('#pass_2');
                _this.attr('style', 'background:white');
        if(pass_1 != pass_2 && pass_2 != ''){
            _this.attr('style', 'background:#FF4A4A');
        }
    });

 $('#email').keyup(function(){
        var _this = $('#email');
        var _email = $('#email').val();
 
        var re = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        var valid = re.test(_email);
 
        if(valid){
            _this.attr('style', 'background:white');
        } else {
            _this.attr('style', 'background:#FF4A4A');
        }
    });

});


</script>
{% else %}
<div class="col-md-12">
	<section class="widget">
		<div style="float:right;">
		</div>
	</section>
</div>
{% end %}
{% end %}