{% extends "../base.html" %}

{% block title %}Bodega "{{ cellar.name }}" {% end %}
{% block caption %}Se muestra una lista de los productos disponibles en la bodega{% end %}

{% block body %}
<div class="col-md-12">
	<section class="widget">
		<div class="body">
		<a type="button" href="/cellar" class="btn btn-success btn-sm btn-delete" data-placement="top" data-original-title=".btn .btn-success .btn-sm" style="float:right; ">Volver</a>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>SKU</th>
						<th>Nombre</th>
						<th>Talla</th>
						<th>Color</th>
						<th>Saldo (unidades)</th>
						<th>Saldo ($)</th>
					</tr>
				</thead>
				<tbody>
					{% for p in cellar.ListProducts() %}
					<tr>
						<td>{{ p["sku"]}}</td>
						<td>{{ p["name"] }}</td>
						<td>{{ p["size"] }}</td>
						<td>{{ p["color"] }}</td>
						<td>{{ int(p["balance_units"]) }}</td>
						<td>{{ MoneyFormat(p["balance_total"]) }}</td>	
					</tr>
					{% end %}
				</tbody>
			</table>
		</div>
	</section>
</div>
{% end %}