{% extends "../base.html" %}

{% block title %}Lista de productos{% end %}
{% block caption %}muestra los productos por bodegas que existen{% end %}

{% block body %}
<div class="col-md-12">
	<section class="widget">
		<div class="body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>SKU</th>
						<th>Nombre</th>
						<th>Talla</th>
						<th>Color</th>
						<th>Saldo (unidades)</th>
						<th>Saldo ($)</th>
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<td><!-- sku --></td>
						<td><!-- nombre --></td>
						<td><!-- talla --></td>
						<td><!-- color --></td>
						<td><!-- saldo u --></td>
						<td><!-- saldo $ --></td>

					</tr>
					
				</tbody>
			</table>
		</div>
	</section>
</div>
{% end %}