{% extends "../base.html" %}

{% block title %}{{ operation }} bodega "{{ cellar.name }}" {% end %}
{% block caption %}permite hacer ingresos de productos a una bodega{% end %}

{% block body %}
<div class="col-md-12" >
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<strong><i class="fa fa-check"></i> Bien hecho!</strong> <span class="mmessage"></span>
	</div>
</div>
<div class="col-md-12">
	<section class="widget">
		<div class="body">
			<div class="lptooltip col-sm-2" >
				<div class="pointer">
					<img src="/static/img/pointer.png" />
				</div>
				<form action="/cellar/easyinput" class="form-add" >
					<fieldset>
						<div class="control-group">
							<label for="" class="control-label">Cantidad</label>
							<div class="controls form-group">
								<div class="col-sm-12"><input type="number" required="required" name="quantity" min="1" placeholder="cantidad de productos" autocomplete="off" class="form-control"></div>
							</div>
						</div>
						<div class="control-group">
							<label for="" class="control-label">Precio</label>
							<div class="controls form-group">
								<div class="col-sm-12"><input type="number" required="required" name="price" min="0" placeholder="precio de compra" autocomplete="off" class="form-control" value=""></div>
							</div>
						</div>
						<input name="size" id="size" type="hidden" value="">
						<input type="hidden" name="color" id="color" value="">
						<div class="control-group">
							<label for="" class="control-label"></label>
							<div class="controls form-group">
								<button type="submit" class="btn btn-primary">Ingresar stock a un producto nuevo</button>
							</div>
						</div>
					</fieldset>
					<input type="hidden" name="product_sku" value="" />
					<input type="hidden" name="cellar_id" value="{{ cellar.identifier }}" />
					<input type="hidden" name="product_name" value="" />
					<input type="hidden" name="cellar_name" value="{{ cellar.name }}" />
				</form>
			</div>
			<a type="button" href="/cellar" class="btn btn-success btn-sm btn-delete" data-placement="top" data-original-title=".btn .btn-success .btn-sm" style="float:right; ">Volver</a>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Imagen</th>
						<th>SKU</th>
						<th>Nombre</th>
						<th>Descripción</th>
						<th>Marca</th>
						<th>Fabricante</th>
						<th>Talla</th>
						<th>Color</th>
						<th>Cantidad</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for p in products %}
					<tr>
						<td><img width=60 src="/image/{{ p["image"] }}?mw=60" /></td>
						<td>{{ p["sku"] }}</td>
						<td>{{ p["name"] }}</td>
						<td>{% raw p["description"] %}</td>
						<td>{{ p["brand"] }}</td>
						<td>{{ p["manufacturer"] }}</td>
						<td>{{ p["size"] }}</td>
						<td>{{ p["color"] }}</td>
						<td>{{ p["balance_units"] }}</td>
						<td>
							<a type="button" href="#!" class="btn btn-success btn-sm btn-delete btn-add" data-placement="top" data-original-title=".btn .btn-success .btn-sm">
								Agregar de este producto
							</a>
							<div class="lptooltip col-sm-2" >
								<div class="pointer">
									<img src="/static/img/pointer.png" />
								</div>


								<!-- EASY INPUT -->
								<form action="/cellar/easyinput" class="form-add" >
									<fieldset>
										<div class="control-group">
											<label for="" class="control-label">Cantidad</label>
											<div class="controls form-group">
												<div class="col-sm-12"><input type="number" required="required" name="quantity" min="1" placeholder="cantidad de productos" autocomplete="off" class="form-control"></div>
											</div>
										</div>
										<div class="control-group">
											<label for="" class="control-label">Precio</label>
											<div class="controls form-group">
												<div class="col-sm-12"><input type="number" required="required" name="price" min="0" placeholder="precio de compra" autocomplete="off" class="form-control" value="{{p['price']}}"></div>
											</div>
										</div>
										<input name="size" id="size" type="hidden" value="{{p['size']}}">
										<input type="hidden" name="color" id="color" value="{{p['color']}}">
										<div class="control-group">
											<label for="" class="control-label"></label>
											<div class="controls form-group">
												<button type="submit" class="btn btn-primary">Agregar</button>
											</div>
										</div>
									</fieldset>
									<input type="hidden" name="product_sku" value="{{ p["sku"] }}" />
									<input type="hidden" name="cellar_id" value="{{ cellar.identifier }}" />
									<input type="hidden" name="product_name" value="{{ p["name"] }}" />
									<input type="hidden" name="cellar_name" value="{{ cellar.name }}" />
								</form>
								<!-- EASY INPUT -->

							</div>
						</td>
					</tr>
					{% end %}
				</tbody>
			</table>
		</div>
	</section>
</div>
{% end %}