{% extends "../base.html" %}

{% block title %}Lista de bodegas {% end %}
{% block caption %}muestra las bodegas que existen{% end %}

{% block body %}
{% if dn == "t" %}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong><i class="fa fa-check"></i> Bien hecho!</strong> bodega creado correctamente.
</div>
{% elif dn == "bpt" %}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong><i class="fa fa-check"></i> Bien hecho!</strong> se han agregado productos.
</div>
{% elif dn == "bpf" %}
<div class="alert alert-warning">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong><i class="fa fa-check"></i> Usuario borrado!</strong> ha fallado al agregar productos.
</div>
{% end %}
<div class="col-md-12">
	<section class="widget">
		<div class="body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Descripción</th>
						<!--
						<th>Total entradas</th>
						<th>Total salidas</th>
						-->
						<th>Saldo (unidades)</th>
						<th>Saldo ($)</th>
						<th>Eliminar</th>
						<th>Entradas</th>
						<th>Salidas</th>
					</tr>
				</thead>
				<tbody>
					{% for p in data %}
					<tr>
						<td  class="cellar" cellar-id="{{ str(p['_id']) }}">{{ p["name"] }}</td>
						<td>{{ p["description"] }}</td>
						<!--
						<td>-</td>
						<td>-</td>
						-->
						<td>{{ p["total_units"] }}</td>
						<td>{{ MoneyFormat(p["total_price"]) }}</td>
						<td>
							<button type="button" cellar-id="{{ str(p['_id']) }}" class="btn btn-danger btn-sm btn-delete" data-placement="top" data-original-title=".btn .btn-danger .btn-sm">
								Eliminar
							</button>
						</td>
						<td>
							<a type="button" href="/cellar/input?id={{ str(p['_id']) }}" cellar-id="{{ str(p['_id']) }}" class="btn btn-success btn-sm btn-delete" data-placement="top" data-original-title=".btn .btn-success .btn-sm">
								Entrada
							</a>
						</td>
						<td>
							<a type="button" href="/cellar/output?id={{ str(p['_id']) }}" cellar-id="{{ str(p['_id']) }}" class="btn btn-success btn-sm btn-delete" data-placement="top" data-original-title=".btn .btn-success .btn-sm">
								Salida
							</a>
						</td>
					</tr>
					{% end %}
				</tbody>
			</table>
		</div>
	</section>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$(".btn-delete").click(function(){

		var cell = $(this);
		var cellar_id = $(this).attr("cellar-id");
		var message = "Realmente desea eliminar esta bodega \n"+
					"los productos serán dejados sin bodegas";

		if (cell.hasClass("btn-danger") && confirm(message)) 
		{
			cell.removeClass("btn-danger");
			cell.addClass("btn-success");
			cell.html("Eliminado");

			cell.parent().parent().animate({
				opacity: 0.0,
				height:"toggle"
			}, 3000, function() {
				$.ajax({
					url: "/cellar/remove?id=" + cellar_id
				}).done(function(data) {
					console.log(data);
				});

				cell.parent().parent().css("display", "none");
			});
		}
	});
});
</script>
{% end %}