{% extends "../base.html" %}

{% block title %}{{ operation }} bodega "{{ cellar.name }}" {% end %}
{% block caption %}permite hacer ingreso de productos a una bodega{% end %}

{% block body %}
<div class="col-md-7">
	<section class="widget">
		<form class="form-horizontal label-left" method="post" action="/cellar/{{ opp }}put" enctype="multipart/form-data">
			<fieldset>
				<legend class="section">Registrar {{ operation }} a bodega "{{ cellar.name }}"</legend>
				<div class="control-group">
					<label for="" class="control-label">Producto</label>
					<div class="controls form-group">
						<div class="col-sm-8"><input autocomplete="off"  type="text" name="name" placeholder="Escriba el nombre de un producto" required="required" class="form-control lp-autocomplete"></div>
					</div>
				</div>
				{% if opp == "in" %}
				<div class="control-group">
					<label for="" class="control-label">Precio de ingreso</label>
					<div class="controls form-group">
						<div class="col-sm-8"><input type="number" name="price" placeholder="Ingrese el precio de costo" class="form-control" required="required"></div>
					</div>
				</div>
				{% end %}
				<div class="control-group">
					<label for="" class="control-label">Unidades</label>
					<div class="controls form-group">
						<div class="col-sm-8"><input type="number" name="units" placeholder="Ingrese las unidades del lote" class="form-control" required="required"></div>
					</div>
				</div>
				<div class="control-group">
					<label for="" class="control-label">Talla</label>
					<div class="controls form-group">
						<div class="col-sm-8"><input type="text" name="size" placeholder="Ingrese la talla" class="form-control" required="required"></div>
					</div>
				</div>
				<div class="control-group">
					<label for="" class="control-label">Color</label>
					<div class="controls form-group">
						<div class="col-sm-8"><input type="text" name="color" placeholder="Ingrese el color" class="form-control" required="required"></div>
					</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Validar e ingresar</button>
				<a type="cancel" href="/cellar" class="btn btn-default">Cancelar</a>
			</div>
			<input type="hidden" name="product_id" id="product_id" />
			<input type="hidden" name="cellar_id" value="{{ cellar.identifier }}" id="cellar_id">
			{% raw xsrf_form_html() %}
		</form>
	</section>
</div>
{% end %}